<div class="price-card-wrapper">
    <div class="pricing-card">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-cols" scope="col">Product Name</th>
                    <th class="table-cols" scope="col">Carton Price</th>
                    <th class="table-cols" scope="col">Unit Price</th>
                    <th class="table-cols" scope="col">Price of 25 Units (10% promo)</th>
                    <th class="table-cols" scope="col">Price of 50 Units (10% promo)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productsPrices">
                    <th class="tr-cols" scope="row">{{item.prod_name}}</th>
                    <td class="tr-cols">${{item.carton_price}}
                        ({{item.units}} units)
                    </td>
                    <td class="tr-cols">${{item.unit_price}}</td>
                    <td class="tr-cols">${{item.units_25}}</td>
                    <td class="tr-cols">${{item.units_50}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>