<div class="price-card-wrapper">
    <div class="pricing-card">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-cols" scope="col">Product Name</th>
                    <th class="table-cols" scope="col">Carton Price</th>
                    <th class="table-cols" scope="col">Unit Price</th>
                    <th class="table-cols" scope="col">Price of 25 Units (10% promo)</th>
                    <th class="table-cols" scope="col">Price of 50 Units (10% promo)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="tr-cols" scope="row">1</th>
                    <td class="tr-cols">Mark</td>
                    <td class="tr-cols">Otto</td>
                    <td class="tr-cols">@mdo</td>
                    <td class="tr-cols">@fat</td>
                </tr>
                <tr>
                    <th class="tr-cols" scope="row">2</th>
                    <td class="tr-cols">Jacob</td>
                    <td class="tr-cols">Thornton</td>
                    <td class="tr-cols">@fat</td>
                    <td class="tr-cols">@fat</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>