.price-card-wrapper {
  background-color: #776FC3;
  border-radius: 56px;
  margin-top: 2em;
}

.price-header {
  h1 {
    font-size: 25px;
    color: white;
  }
}

.pricing-card {
  height: 35em;
  padding: 5em;
}

.table-cols {
  padding: 1em;
  color: white;
  font-size: 21px;
  font-weight: 400;
  border-bottom: 1px solid #dee2e6;
  border-top: none !important;
  vertical-align: inherit !important;
}

.tr-cols {
  padding: 2em;
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.item-pricing-wrapper {
  display: flex;
}

.pricing-btn-wrapper {
  padding: 2em;

  .item-name {
    margin-bottom: 20px;

    p {
      font-size: 24px;
      color: #FFFFFF;
      font-weight: 300;
    }
  }

  .pricing-btn {
    &:hover {
      cursor: pointer;
    }

    background-color: #E7DDF2;
    border-radius: 32px;
    padding: 0.4em;
    font-size: 18px;
    color: #473889;
    box-shadow: 0px 7px 5px 3px rgba(50, 50, 50, 0.23);
    text-align: center;
  }
}

.pricing-units-wrapper {
  padding: 2em;

  .units-header {
    text-align: center;

    p {
      font-size: 18px;
      font-weight: 200;
      color: white;
    }
  }

  .pricing-units {
    display: flex;

    .units {
      padding: 1em;

      p {
        color: white;
        font-size: 20px;
      }
    }
  }

}

.pricing-cartons-wrapper {
  padding: 2em;

  .carton-header {
    text-align: center;

    p {
      font-size: 18px;
      font-weight: 200;
      color: white;
    }
  }

  .pricing-carton {
    display: flex;

    .cartons {
      padding: 1em;

      p {
        color: white;
        font-size: 20px;
      }
    }
  }

}

.increment-wrapper {
  padding: 1em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #574A97;

  .increment-btn {
    font-size: 17px;
    color: white;
  }
}

.decrement-wrapper {
  padding: 1em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #574A97;

  .decrement-btn {
    font-size: 17px;
    color: white;
  }
}

.total-wrapper {
  text-align: end;

  .total {
    p {
      font-size: 24px;
      color: white;
      font-weight: 200;
    }
  }

  .order-btn {
    &:hover {
      cursor: pointer;
    }

    margin-left: 42em;
    background-color: #E7DDF2;
    color: #473889;
    border-radius: 32px;
    box-shadow: 0px 7px 5px 3px rgba(50, 50, 50, 0.23);
    text-align: center;
    padding: 0.2em;
  }
}
