<div class="price-card-wrapper">
    <div class="pricing-card">
        <div class="price-header">
            <h1>
                Your Order
            </h1>
        </div>
        <div class="item-pricing-wrapper">
            <div class="pricing-btn-wrapper">
                <div class="item-name">
                    <p>Penguin ears</p>
                </div>
                <div class="pricing-btn">
                    Get pricing
                </div>
            </div>
            <div class="pricing-units-wrapper">
                <div class="units-header">
                    <p>Qty by Units</p>
                </div>
                <div class="pricing-units">
                    <div class="decrement-wrapper" (click)="decrementOperation('unit')">
                        <div class="decrement-btn">
                            <fa-icon [icon]="['fas','minus']"></fa-icon>
                        </div>
                    </div>
                    <div class="units">
                        <p>{{qty_units}}</p>
                    </div>
                    <div class="increment-wrapper" (click)="incrementOperation('unit')">
                        <div class="increment-btn">
                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing-cartons-wrapper">
                <div class="carton-header">
                    <p>Qty by Cartons</p>
                </div>
                <div class="pricing-carton">
                    <div class="decrement-wrapper" (click)="decrementOperation('carton')">
                        <div class="decrement-btn">
                            <fa-icon [icon]="['fas','minus']"></fa-icon>
                        </div>
                    </div>
                    <div class="cartons">
                        <p>{{qty_cartons}}</p>
                    </div>
                    <div class="increment-wrapper" (click)="incrementOperation('carton')">
                        <div class="increment-btn">
                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-pricing-wrapper">
            <div class="pricing-btn-wrapper">
                <div class="item-name">
                    <p>Penguin ears</p>
                </div>
                <div class="pricing-btn">
                    Get pricing
                </div>
            </div>
            <div class="pricing-units-wrapper">
                <div class="units-header">
                    <p>Qty by Units</p>
                </div>
                <div class="pricing-units">
                    <div class="decrement-wrapper" (click)="decrementOperation('unit')">
                        <div class="decrement-btn">
                            <fa-icon [icon]="['fas','minus']"></fa-icon>
                        </div>
                    </div>
                    <div class="units">
                        <p>{{qty_units}}</p>
                    </div>
                    <div class="increment-wrapper" (click)="incrementOperation('unit')">
                        <div class="increment-btn">
                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing-cartons-wrapper">
                <div class="carton-header">
                    <p>Qty by Cartons</p>
                </div>
                <div class="pricing-carton">
                    <div class="decrement-wrapper" (click)="decrementOperation('carton')">
                        <div class="decrement-btn">
                            <fa-icon [icon]="['fas','minus']"></fa-icon>
                        </div>
                    </div>
                    <div class="cartons">
                        <p>{{qty_cartons}}</p>
                    </div>
                    <div class="increment-wrapper" (click)="incrementOperation('carton')">
                        <div class="increment-btn">
                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-wrapper">
            <div class="total">
                <p>Total Pricing : $900.00</p>
            </div>
            <div class="order-btn">
                <p>Order</p>
            </div>

        </div>
    </div>
</div>