<div class="price-card-wrapper" *ngIf="!isCartEmpty">
    <div class="pricing-card">
        <div class="price-header">
            <h1>
                Your Order
            </h1>
        </div>
        <div class="item-pricing-wrapper" *ngFor="let item of cartList">
            <div class="pricing-btn-wrapper">
                <div class="item-name">
                    <p>{{item.prod_name}}</p>
                </div>
                <div class="pricing-btn" (click)="getPricing(item)">
                    Get pricing
                </div>
            </div>
            <div class="pricing-units-wrapper">
                <div class="units-header">
                    <p>Qty by Units</p>
                </div>
                <div class="pricing-units">
                    <div class="decrement-wrapper" (click)="decrementOperation(item,'unit')">
                        <div class="decrement-btn">
                            <fa-icon [icon]="['fas','minus']"></fa-icon>
                        </div>
                    </div>
                    <div class="units">
                        <p>{{item.qty_units}}</p>
                    </div>
                    <div class="increment-wrapper" (click)="incrementOperation(item,'unit')">
                        <div class="increment-btn">
                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing-cartons-wrapper">
                <div class="carton-header">
                    <p>Qty by Cartons</p>
                </div>
                <div class="pricing-carton">
                    <div class="decrement-wrapper" (click)="decrementOperation(item,'carton')">
                        <div class="decrement-btn">
                            <fa-icon [icon]="['fas','minus']"></fa-icon>
                        </div>
                    </div>
                    <div class="cartons">
                        <p>{{item.qty_cartons}}</p>
                    </div>
                    <div class="increment-wrapper" (click)="incrementOperation(item,'carton')">
                        <div class="increment-btn">
                            <fa-icon [icon]="['fas','plus']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing-product-wrapper" *ngIf="isProdTotalAvailable">
                Sub total is : {{productTotal}}
            </div>
        </div>
        <div class="total-wrapper">
            <div class="total">
                <p>Total Pricing : ${{orderTotal}}</p>
            </div>
            <div class="order-btn" (click)="orderProducts()">
                <p>Order</p>
            </div>
        </div>
    </div>
</div>
<div class="no-item-card" *ngIf="isCartEmpty">
    <p>
        There's no items in your cart
    </p>
</div>