<div class="prod-card-wrapper">
    <ng-container *ngIf="!isCart; else cartListView">
        <div class="item-card col-lg-6" *ngFor="let item of products">
            <div class="card-img">
                <img src="../../../../assets/penguinears.png" alt=" penguinears">
            </div>
            <div class="card-desc-wrapper">
                <div class="card-desc">
                    <div class="desc-header">
                        <div class="header">
                            <h1>
                                {{item.prod_name}}
                            </h1>
                            <div class="secondary-header">
                                <p>{{item.prod_desc}}</p>
                            </div>
                        </div>
                        <div class="price-cart-wrapper">
                            <div class="price">
                                <p>{{item.carton_price}}</p>
                            </div>
                            <div class="addtocart-wrapper" *ngIf="!isCart" (click)="addToCart(item)">
                                <div class="add-to-cart">
                                    <fa-icon [icon]="['fas','plus']"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #cartListView>
        <div class="item-card col-lg-6" *ngFor="let item of addToCartList">
            <div class="card-img">
                <img src="../../../../assets/penguinears.png" alt=" penguinears">
            </div>
            <div class="card-desc-wrapper">
                <div class="card-desc">
                    <div class="desc-header">
                        <div class="header">
                            <h1>
                                {{item.prod_name}}
                            </h1>
                            <div class="secondary-header">
                                <p>{{item.prod_desc}}</p>
                            </div>
                        </div>
                        <div class="price-cart-wrapper">
                            <div class="price">
                                <p>{{item.carton_price}}</p>
                            </div>
                            <div class="addtocart-wrapper" *ngIf="!isCart" (click)="addToCart(item)">
                                <div class="add-to-cart">
                                    <fa-icon [icon]="['fas','plus']"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <div *ngIf="isCartEmpty && isCart" class="no-item-card">
        <p>
            There's no items in your cart
        </p>
    </div>
</div>